/*Removes default on the body-tag*/
body{
    margin:0;
}
section{
    width: 500px;
    height:500px;
    border: 5px solid grey;
}
header{
    width: inherit;
    height: 10%;
    background-color: darkblue ;
    border: 3px dotted lightgrey;
}
#first{
    height: 300px;
    background-color: purple;
}
#first div {
    height:300px;
    width:48.35%;
    border: 4px solid silver;
    float: left;
}
#second{
    height: 100px;
    background-color:black;
}
footer{
    height: 10%;
    width: inherit;
    background-color: magenta;
}
